/* Estilos Gerais --------------------------------------------------------------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-size: cover;

}

.engenharia-da-computao {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 8184px;
    overflow: hidden;
    text-align: left;
    font-size: 17px;
    color: #000;
    font-family: Inter;
    margin: auto;
    text-align: center;
    background-image: url(../tela_inicial/img-pages/img-linha+fundo-verde.png);
} 

.banner {
    
    position: relative;
    border-radius: 0px 0px 148px 148px;
    max-width: 100%;
    overflow: hidden;
    height: 435px;
    object-fit: cover;
    text-align: center;
    width: 90%;
    margin: auto;
}

.grupo-linha {
    width: 4200px;
    position: relative;
    max-width: 1900px;
    overflow: hidden;
    height: 9566.75;
    top: -300px;
}

.botao-voltar {
    position: absolute;
    top: 38px;
    left: 110px;
    width: 127px;
    height: 32px;
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.6s ease; 
}

.botao-voltar:hover {
    transform: scale(1.1);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* Sobre o Curso ----------------------------------------------------------------------------------------------------------------------------*/
.grupo-sobre-o-curso {
    position: absolute;
    top: 625px;
    left: calc(50% - 718px);
    width: 1238px;
    height: 510px;
}

.container-sobre-o-curso {
    position: absolute;
    top: 0px;
    left: calc(50% - -112px);
    display: inline-block;
    width: 428px;
    height: 426px;
}

.titulo-sobre-o-curso {
    margin-block-start: 0;
    margin-block-end: 15px;
    font-size: 42px;
    font-weight: 600;
}

.img-sobre-o-curso {
    position: absolute;
    top: 10px;
    left: 228px;
    border-radius: 70px 10px 70px 10px;
    width: 427px;
    height: 490px;
    object-fit: cover;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* O que vamos aprender? --------------------------------------------------------------------------------------------------------------------*/
.grupo-o-que-vamos-aprender {
    position: absolute;
    top: 1255px;
    left: 96px;
    width: 1721px;
    height: 1105px;
    color: #fffefe;
    font-family: Inter;
}
.container-aprender {
    position: absolute;
    top: 113px;
    left: -82px;
    border-radius: 10px 70px 10px 70px;
    background-color: #242149;
    width: 1306px;
    height: 972px;
}

.container-aprender p {
    width: 550px;
    margin-left: 50px;
}

.titulo-aprender {
    font-size: 32px;
    margin-bottom: 60px;
    margin-left: 50px;
    font-weight: 600;
    text-align: left;
}

.img-homem-pensativo {
    position: absolute;
    top: -20px;
    left: 496px;
    width: 765px;
    height: 1105px;
    object-fit: cover;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* Grupo de pesquisas -----------------------------------------------------------------------------------------------------------------------*/
.grupo-pesquisas {
    position: absolute;
    top: 2457px;
    left: 162px;
    width: 1596px;
    height: 939px;
    font-size: 14px;
    color: #fff;

}

.titulo-grupo-pesquisas {
    position: absolute;
    top: 60px;
    left: calc(50% - 856px);
    font-size: 42px;
    font-weight: 500;
    color: #000;
    text-align: center;
    display: inline-block;
    width: 1274px;
    height: 101px;
}
/* Blocos - Grupo de pesquisas ---------------------------------------------------------------------------------------------------------------*/ 
.bloco-sistemas-its-item {
    position: absolute;
    top: 90px;
    left: 71px;
    border-top: 1px solid #00a766;
    box-sizing: border-box;
    width: 78px;
    height: 9px;
}

.bloco-rede-de-computadores {
    position: absolute;
    top: 251px;
    left: -74px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.img-geral {
    position: absolute;
    top: 21px;
    left: 82px;
    width: 56px;
    height: 56px;
    overflow: hidden;
}

.titulo-geral {
    position: absolute;
    top: 83px;
    left: 9px;
    font-size: 17px;
    display: inline-block;
    font-weight: 600;
    width: 209px;
    height: 19px;
    text-align: center;
}

.paragrafo-geral {
    position: absolute;
    top: 123px;
    left: 10px;
    font-weight: 500;
    display: inline-block;
    width: 205px;
    height: 121px;
}

.bloco-sistemas-embarcados {
    position: absolute;
    top: 251px;
    left: 172px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-ia {
    position: absolute;
    top: 251px;
    left: 419px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.ia {
    position: absolute;
    height: 28.53%;
    width: 29.01%;
    top: 3.91%;
    left: 30.99%;
    font-size: 68px;
    font-weight: 500;
    color: #00a766;
    display: inline-block;
}

.bloco-nuvem-e-virtualizao {
    position: absolute;
    top: 251px;
    left: 665px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-sistemas-distribuidos {
    position: absolute;
    top: 251px;
    left: 911px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-arquitetura-de-computacao {
    position: absolute;
    top: 606px;
    left: -74px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-seguranca-da-informacao {
    position: absolute;
    top: 604px;
    left: 172px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-realidade-virtual {
    position: absolute;
    top: 604px;
    left: 419px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-sistemas-inteligentes-de-transportes {
    position: absolute;
    top: 604px;
    left: 665px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}

.bloco-automacao-industrial {
    position: absolute;
    top: 606px;
    left: 911px;
    box-shadow: 0px 7px 15.1px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 310px;
    background-color: #242149;
    border-radius: 12px
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/ 

/* Grupo palestras --------------------------------------------------------------------------------------------------------------------------*/
.grupo-palestras {
    position: absolute;
    top: 3546px;
    left: calc(50% - 798px);
    width: 1549px;
    height: 576px;
    color: #fff;
}

.bloco-texto-palestras {
    position: absolute;
    display: inline-block;
    top: -41px;
    width: 610px;
    left: 197px;
    height: 401px;  
}

.titulo-palestras {
    width: 644px;
    position: relative;
    font-size: 42px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    height: 42px;
    margin: 0;
}

.imgs-paletras {
    position: absolute;
    top: 0px;
    left: 849px;
    width: 700px;
    height: 576px;
}

.img-palestras-retangulo-1 {
    position: absolute;
    top: 242px;
    left: 28px;
    border-radius: 70px 10px 70px 10px;
    width: 245px;
    height: 326px;
    object-fit: cover;
}

.img-palestras-retangulo-2 {
    position: absolute;
    top: 132px;
    left: 213px;
    border-radius: 70px 10px 70px 10px;
    width: 233px;
    height: 341px;
    object-fit: cover;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* Vídeo do curso  ---------------------------------------------------------------------------------------------------------------------------*/
.container-mais-sobre-o-curso {
    position: absolute;
    top: 4500px;
    left: 323px;
    width: auto;
    height: 400px;
    font-size: 2rem;
}

.bloco-texto-video {
    position: absolute;
    top: -80px;
    left: 1%;
    display: block;
}

.texto-sobre-o-curso-1 {
    font-weight: 500;
}

.video-container {
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: block;
}

video {
    position: absolute;
    top: 71px;
    left: -209px;
    border-radius: 10px;
    width: 1026px;
    height: 503px;
    object-fit: cover;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* Semana da Engenharia ----------------------------------------------------------------------------------------------------------------------*/
.grupo-semana-da-engenharia {   
    position: absolute;
    top: 5213px;
    left: calc(50% - 798px);
    width: 1596px;
    height: 946px;
}

.bloco-texto-semana-da-engenharia {
    position: absolute;
    top: -40px;
    left: calc(50% + 10px);
    display: inline-block;
    width: 615px;
    height: 943px;
}

.titulo-semana-da-engenharia{
    font-size: 42px;
    font-weight: 600;
    font-family: Inter;
    margin-bottom: -22px; 
}

.img-linhalogo {
    position: absolute;
    top: 5px;
    left: calc(50% - 130px);
    width: 99px;
    height: 941px;
}

.imgs-semana-da-engenharia {
    width: 100%;
    position: relative;
    height: 941px;
    }

.img-semana-da-engenharia-image-1 {
    position: absolute;
    top: 189.54px;
    left: 464px;
    border-radius: 10px;
    width: 167px;
    height: 174.5px;
    object-fit: cover;
}

.img-semana-da-engenharia-image-2 {
    position: absolute;
    top: 3px;
    left: 464px;
    border-radius: 10px;
    width: 166px;
    height: 182.5px;
    object-fit: cover;
}

.img-semana-da-engenharia-image-3 {
    position: absolute;
    top: 0px;
    left: 181px;
    border-radius: 70px 10px 10px 10px;
    width: 269px;
    height: 366px;
    object-fit: cover;
}

.img-semana-da-engenharia-image-4 {
    position: absolute;
    top: 381px;
    left: 174px;
    border-radius: 10px 10px 70px 10px;
    width: 457px;
    height: 233px;
    object-fit: cover;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* Projetos Práticos -------------------------------------------------------------------------------------------------------------------------*/
.grupo-projeto-pratico {
    position: absolute;
    top: 6217px;
    left: 0px;
    width: 1920px;
    height: 887px;
    color: #fff;
    background-color: #0079cc;
}

.titulo-semana-da-engenharia {
    font-size: 40px;
    font-weight: 600;
    font-family: Inter;
    margin-bottom: -14px;
}

.bloco-texto-projetos-praticos {
    position: absolute;
    top: 50px;
    left: calc(50% - 916px);
    display: inline-block;
    width: 567px;
    height: 699px;
}

.img-logos {
    position: absolute;
    top: 16px;
    left: 586px;
    width: 739px;
    height: 745px;
    object-fit: cover;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* Grade Curricular */
.container-grade-curricular {
    position: absolute;
    top: 7104px;
    left: calc(50% - 960px);
    width: 1920px;
    height: 1080px;
    font-size: 18px;
    color: #fff;
    background-color: #00a766;
}

.titulo-semana-da-engenharia {
    font-size: 31px;
    font-weight: 600;
    font-family: Inter;
    margin-bottom: -14px;
}

.link-grade-curricular{
    position: absolute;
    top: 767px;
    left: 1261px;
    text-decoration: underline;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    width: 351px;
}
.img-grade-curricular {
    position: absolute;
    top: 165px;
    left: 1206px;
    border-radius: 10px;
    width: 379px;
    height: 551px;
    object-fit: cover;
}

.bloco-grade-curricular {
    position: absolute;
    top: 55px;
    left: 440px;
    display: inline-block;
    width: 711px;
    height: 771px;
    font-size: 17px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* Rodapé ------------------------------------------------------------------------------------------------------------------------------------*/
.rodap {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 960px);
    background-color: #242149;
    width: 1920px;
    height: 100px;
    color: white;
}
.unifecaf {
    position: absolute;
    left: 1296px;
    font-weight: 800;
    font-size: 42px;
    top: 25px;
}
.copyright-2024 {
    position: absolute;
    bottom: 60px;
    left: calc(50% - 250px);
    font-size: 16px;
    top: 40px;
}
.img-logo-fecaf {
    position: absolute;
    top: 10px;
    left: 319px;
    width: 86px;
    height: 86px;
    object-fit: cover;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/